
{
  "presets": [
    [
      "@babel/preset-react",
      {
        "useBuiltIns": "entry"
      }
    ]
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime", {
      "regenerator": true
    }]
  ]
}
